[submodule "source/gps_nmea_lib"]
	path = source/gps_nmea_lib
	url = https://github.com/jancumps/gps_nmea_lib
[submodule "source/gps_teseo_lib"]
	path = source/gps_teseo_lib
	url = https://github.com/jancumps/gps_teseo_lib
[submodule "source/callbackmanager"]
	path = source/callbackmanager
	url = https://github.com/jancumps/callbackmanager
