name: run unit tests
on:
  workflow_dispatch:
  #push:
  #  branches:
  #    - 'develop'
  #    - 'main'
  pull_request:
    types: [opened, reopened]
    branches:
      - 'develop'
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clean workspace
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}"
          mkdir -p "${{ github.workspace }}"

      - name: checkout
        uses: actions/checkout@v4
        with:
          path: test_gps_teseo
          submodules: false

      - name: Install dependencies
        run: |
          
          sudo apt-get install ninja-build

          sudo apt-get install cmake
          sudo add-apt-repository universe
          sudo apt update

          # sudo apt install gcc-15
          echo install gcc 15
          sudo apt install -y build-essential git make gawk flex bison libgmp-dev libmpfr-dev libmpc-dev python3 binutils perl libisl-dev libzstd-dev tar gzip bzip2
          export CONFIG_SHELL=/bin/bash
          mkdir ~/gcc-15
          cd ~/gcc-15
          git clone https://gcc.gnu.org/git/gcc.git gcc-15-source
          cd gcc-15-source
          git checkout releases/gcc-15.2.0
          ./contrib/download_prerequisites
          cd ~/gcc-15
          mkdir gcc-15-build
          cd gcc-15-build
          ../gcc-15-source/configure --prefix=/opt/gcc-15 --disable-multilib --enable-languages=c,c++
          make -j$(nproc)
          sudo make install
          sudo update-alternatives --install /usr/bin/gcc gcc /opt/gcc-15/bin/gcc 100
          sudo update-alternatives --install /usr/bin/g++ g++ /opt/gcc-15/bin/g++ 100

          gcc --version
          whereis gcc
          whereis gcc-15
          ls -la /usr/bin | grep g++

      - name: Build Project
        working-directory: ${{github.workspace}}/test_gps_teseo
        shell: bash
        run: |
          echo ${{ github.ref }}
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=TRUE -DCMAKE_C_COMPILER:FILEPATH=/opt/gcc-15/bin/gcc -DCMAKE_CXX_COMPILER:FILEPATH=/opt/gcc-15/bin/g++ -DCMAKE_BUILD_TYPE=Release
          cmake --build . --target test_teseo_nmea
          cd ..

      - name: Test Project
        working-directory: ${{github.workspace}}/test_gps_teseo
        shell: bash
        run: |
          cd build
          ctest
          cd ..
